{% extends 'base.html' %}
{% block body %}
        <form action="/register" method="POST">
            <input type="number" name="user_id" placeholder="ID" class="input_field"> <br>
            <input type="text" name="username" placeholder="Username" class="input_field"> <br>
            <input type="text" name="password" placeholder="password" class="input_field"> <br>
            <input type="text" name="email" placeholder="email" class="input_field"> <br>
            <input type="text" name="full_name" placeholder="Full Name" class="input_field"> <br>
            <input type="submit" value="Submit" class="input_submit"> <br>
        </form>
    </div>
{% endblock %}
